@font-face {
  font-family: 'SnowCap';
  font-weight: normal;
  font-style: normal;
  src: url(./fonts/17447.otf);
}

@font-face {
  font-family: 'Happy';
  font-weight: normal;
  font-size: normal;
  src: url(./fonts/14767.otf);
}

.slider {
  width: 600px;
  -webkit-appearance: none;
  outline: none;
  height: 30px;
  border-radius: 20px;
  background-color: #ff4b44;
  border: 2px solid #008f47;
  margin-top: 50px;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 60px;
  width: 40px;
  background: url(./image/emoji/norm.png) center center no-repeat;
  background-position: -130px 0;
  display: block;
  cursor: pointer;
}

.slider::-moz-slider-thumb {
  -webkit-appearance: none;
  height: 60px;
  width: 40px;
  background: url(./image/emoji/norm.png) center center no-repeat;
  background-position: -130px 0;
  display: block;
  cursor: pointer;
}

.mood {
  font-family: 'SnowCap';
  font-size: 40px;
  margin: 0;
}

body, html {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.wrapper {
  z-index: 10;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.btn {
  width: 150px;
  height: 50px;
  outline: none;
  border: none;
  font-family: 'Happy';
  font-size: 20px;
  color: #fff;
  background-color: #ff4b44;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 50px;
}

#wrapperWorld {
  opacity: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
}